* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: grey;
    font-size: 1vh;
    font-family: 'Sofia', 'Arial', cursive;
    text-rendering: optimizeLegibility;
}

body {
    background-image: url('loginpage.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-image {
    width: 15vh;
}

.logo-name {
    font-size: 6vh;
    color: #65381a;
}

.scene {
    width: 50vh;
    height: 50vh;
    margin: 40px;
    position: relative;
}

#card {
    width: 100%;
    height: 100%;
    transition: ease 1s;
    transform-style: preserve-3d;
    position: absolute;
}

#card #figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 2vh;
}

#card .front {
    background: white;
    opacity: 0.8;
}

#card .back {
    background: white;
    opacity: 0.8;
    transform: rotateY( 180deg);
}

#card.flipped {
    transform: rotateY( 180deg);
}

#card-title {
    text-align: center;
    font-size: 1.5vh;
    color: #b98a44;
    margin-top: 1vh;
}

#recover-header {
    overflow: auto;
    text-align: center;
    font-size: 1.5vh;
    color: #b98a44;
}

#recover-header .left {
    float: left;
    width: 20%;
    text-align: left;
    padding-left: 1vh;
    padding-top: 1vh;
}

#recover-header .center {
    float: left;
    text-align: center;
    width: 60%;
    padding-top: 1vh;
}

#recover-header .right {
    float: left;
    text-align: center;
    width: 20%;
}

.inputs {
    text-align: left;
    padding: 3vh;
}

.inputs #email, #password {
    margin-top: 1.5vh;
}

.inputs input {
    color: #b98a44;
    width: 100%;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 0.5vh;
}

.inputs input:focus {
    outline: none;
}

.forgot-password {
    text-align: end;
}

a {
    font-size: 2vh;
    color: #b98a44;
    text-decoration: none;
    cursor: pointer;
}

button {
    text-align: center;
}

button {
    padding: 3vh;
    width: 25vh;
    background-color: #b98a44;
    border: none;
    border-radius: 1vh;
    color: white;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    position: relative;
    top: 0.5vh;
    box-shadow: none;
}

#back-page {
    font-size: 4vh;
}

div.row {
    clear:both;
}

.recover-text {
    justify-content: center;
    margin-left: 2.6vh;
    margin-right: 2.6vh;
    margin-top: 4vh;
}